:host {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 2px;
}

.page-background {
    background-image: linear-gradient(to bottom, transparent, #fafafa),
        url('resources/images/background.png');
}
