:host {
    flex: 0 0 var(--sizebar-width);
    background: #fff;
    margin-top: 7px;
}

.active {
    background-color: var(--primary-color-blue);
    color: white;
}

nav.nav ul.nav__list {
    background-color: #f6f4f4;
    border-radius: 5px;
    margin-top: 5px;
}

.nav ul,
.nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

.nav input {
    display: none;
}

.nav label {
    margin: 0;
    cursor: pointer;
    font-weight: 300;
    line-height: 0.8rem;
    font-size: 1.4rem;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    padding: 2rem;
    text-decoration: var(--text-decoration);
}

.nav li.active a {
    color: white;
}

input {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 1.5rem;
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
}

@media screen and (max-width: 52rem) {
    :host {
        display: none;
    }
}
