recipe-clock {
    position: relative;
    border: solid 1px #ecebea;
    border-radius: 4px;
    display: block;
    padding: 14px 8px 8px 8px;
    margin-top: 16px;
}

recipe-clock:before {
    content: 'recipe-clock';
    color: #dddbda;
    position: absolute;
    top: -16px;
    left: 4px;
    background-color: #ffffff;
    padding: 0 4px;
}
