<template>
    <div class="m-vertical_small text-body_regular">
        <span class="text-color_destructive">
            {friendlyMessage}.
            <template lwc:if={errorMessages.length}>
                <a onclick={handleShowDetailsClick}> Show details.</a>
            </template>
        </span>
        <template lwc:if={errorMessages.length}>
            <template lwc:if={viewDetails}>
                <template for:each={errorMessages} for:item="message">
                    <p key={message}>{message}</p>
                </template>
            </template>
        </template>
    </div>
</template>
