.text-body_regular {
    font-size: 13px;
    margin: 0px 0px 12px 0px;
}

a {
    color: #006dcc;
    text-decoration: none;
    transition: color .1s linear;
    font-size: 13px;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #005fb2;
}

.text-color_destructive {
    color: #c23934;
}

.m-vertical_small {
    margin-top: 12px;
    margin-bottom: 12px;
}