button {
    font-size: 0.9em;
    padding: 4px 8px;
    background-color: var(--button-color-bg);
    border: none;
    color: white;
    padding: 10px 10px;
    min-width: 100px;
    text-align: center;
    text-decoration: var(--text-decoration);
    display: inline-block;
}

button:hover {
    background-color: var(--button-color-bg-active);
}

button:focus {
    outline: 0;
}
