/* ======================================================= */
/* Custom Properies */
/* ======================================================= */
:root {
    --color-bg-hero: #e4f2f8;
    --color-bg-hero-dark: #d5e8f0;
    --color-bg-section: #ffffff;
    --color-bg-section-shade: #f4f5f6;
    --color-bg-footer: #f7f7f7;
    --color-bg-card: #e4f2f8;
    --color-bg-search: #f4f5f6;
    --card-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --spotlight-bg: #ffffff;
    --sizebar-width: 300px;
    --color-text: #16325c;
    --color-text-link: #02a0e0;
    --color-text-link-footer: #707070;

    /* text colors */
    --primary-color-dark: #2b2826;
    --primary-color-blue: #02a0e0;
    --primary-color-blue-highlight: rgba(2, 161, 224, 0.15);
    --primary-color-darkblue: #16325c;

    /* alert colors */
    --important-border: #e0002e;
    --important-background: #ffe6e5;

    --note-border: #02a0e0;
    --note-background: #e2f4fc;

    --tip-border: #00b462;
    --tip-background: #e1f6ed;

    --warning-border: #f1a019;
    --warning-background: #f8f2e7;

    /* button colors */
    --button-color: #ffffff;
    --button-color-bg: #02a0e0;
    --button-color-bg-active: #007aac;
    --button-brand-color-bg: #ff6000;
    --button-brand-color-bg-active: #df5400;

    /* border style */
    --border-gray: #eee solid 2px;

    /* a hrefs */
    --text-decoration: none;
}

/* ======================================================== */
/* Common Elements */
/* ======================================================== */

html {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
        'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    color: var(--color-text);
    font-size: 1.6em;
    line-height: 1.6;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h1 {
    color: var(--primary-color-darkblue);
}




/* ======================================================== */
/* HEADER */
/* ======================================================== */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.subwrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header::after {
    clear: both;
    content: ' ';
    display: table;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li {
    margin-bottom: 0;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-color);
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
}

.header .logo .title {
    font-size: 2rem;
    font-weight: 300;
    display: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .icon-logo {
    display: inline-block;
    width: 40px;
    height: 36px;
    vertical-align: middle;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 32px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 260px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
        font-weight: 300;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .header .menu li.active {
        box-shadow: inset 0 -4px 0 var(--primary-color-blue);
    }
}

.github-corner {
    display: none;
}

.outerHero {
    background-color: var(--color-bg-hero);
}

@media (min-width: 65em) {
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .logo-space {
        display: block;
        text-align: center;
    }

    .home .hero {
        padding: 5rem 10rem;
    }
    .home .left-content {
        background-color: transparent;
        padding: 30px;
        text-align: center;
    }
    .home .right-content {
        padding: 30px;
        background-color: transparent;
        margin: auto 0;
    }
    .home .section {
        padding: 2rem;
    }

    .home .section h3 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .home .learn {
        width: 500px;
    }

    .home .hero .description {
        margin-top: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .home .hero pre > code {
        font-size: 1.8rem;
    }

    .card {
        padding: 4rem;
    }

    .benefits {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header .logo .title {
        display: inline-block;
    }

    .header {
        padding-right: 65px;
    }

    .header .icon-logo {
        height: 32px;
    }

    .github-corner {
        display: block;
    }

    h2.title {
        margin-top: unset;
    }

    h1 {
        font-size: 4.6rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 3.6rem;
        line-height: 1.25;
    }

    .secondCard {
        border-top: none;
        border-bottom: none;
        border-left: var(--border-gray);
        border-right: var(--border-gray);
    }
}
