<template>
	<select name="mode">
		<option value="paint" selected>Paint</option>
		<option value="brick">Brick</option>
		<option value="start">Start</option>
		<option value="reset">Reset</option>
	</select>
    
    <div class="canvas" tabindex="0">
        <div for:each={canvas} for:item="row" key={row.key} class="row">
            <div for:each={row} for:item="pixel" key={pixel.key}
                class="pixel" style={pixel.style}
                data-x={pixel.x} data-y={pixel.y}
                onclick={handleClick}>
            </div>
        </div>
    </div>
</template>