/* 48em = 768px; large screen  */
@media (min-width: 48em) {
    .card {
        padding: 2rem;
    }
}

.card {
    background: #fff;
    border: 0.05rem solid #dadee4;
    border-radius: 0.1rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 3rem;
    flex: 1;
    padding: 1rem;
    max-width: 600px;
}

.card .card-header,
.card .card-body,
.card .card-footer {
    padding: 0.8rem;
    padding-bottom: 0;
}

.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
    padding-bottom: 0.8rem;
}

.card .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 14px;
}

.card .card-image {
    padding-top: 0.8rem;
}

.card .card-image:first-child {
    padding-top: 0;
}

.card .card-image:first-child img {
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}

.card .card-image:last-child img {
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

.card .card-title {
    font-size: 2rem;
    font-weight: 800;
}

.card .card-footer {
    vertical-align: bottom;
}

@media (max-width: 380px) {
    .card .card-title {
        font-size: 1.6rem;
        font-weight: 600;
    }
}
