recipe-paginator {
    position: relative;
    border: solid 1px #ecebea;
    border-radius: 4px;
    display: block;
    padding: 14px 2px 2px 2px;
}

recipe-paginator:before {
    content: 'recipe-paginator';
    color: #dddbda;
    position: absolute;
    top: -16px;
    left: 4px;
    background-color: #ffffff;
    padding: 0 4px;
}

.center {
    text-align: center;
}
