.search-results {
    list-style: none;
}

ul {
    padding: 0;
}

li {
    margin: 0;
}

.margin-vertical-small {
    margin: 0 4 0 4;
}

/* Small hack to format the a href in the ui-card slot */
a {
    text-decoration: var(--text-decoration);
    color: var(--color-text-link);
}
