recipe-contact-tile {
    position: relative;
    border: solid 1px #ecebea;
    border-radius: 4px;
    display: block;
    margin: 15px 0;
    padding: 14px 8px 8px 8px;
}

recipe-contact-tile:before {
    color: #dddbda;
    position: absolute;
    top: -16px;
    left: 4px;
    background-color: #ffffff;
    padding: 0 4px;
    content: 'recipe-contact-tile';
}
