.container {
    overflow: hidden;
    color: #f5b041;
    display: flex;
    margin-top: 6px;
}

.text {
    margin-top: 5px;
    margin-left: 4px;
}

.bar {
    margin-left: 4px;
    height: 36px;
    background-color: #f5b041;
}
